<launch>

	<arg name="route" default="route1" />
	<node name= "ConvertQ2E" pkg="robotsmalisolution" type="convert"/>
	<node name="ActionNode" pkg="robotsmalisolution" type="action_server" output="screen"/>
	<node name="client_sender_poses" pkg="robotsmalisolution" type="client" args="1" output="screen" if="$(eval route=='route1')" /> 
	<node name="client_sender_poses" pkg="robotsmalisolution" type="client" args="2" output="screen" if="$(eval route=='route2')" /> 
	<node name="client_sender_poses" pkg="robotsmalisolution" type="client" args="3" output="screen" if="$(eval route=='route3')" /> 

</launch>
